@use "../../SASS/sass-utils/mixins"as *;
@use "../../SASS/sass-utils/variables"as *;

* {
  font-family: Arial, Helvetica, sans-serif;
}


.container {
  margin-top: 5vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(7, 1fr);
  gap: 20px 30px;
  width: 50vw;

  @include mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 85vw;
    font-size: 1.15rem;
  }
  @include ipad {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 85vw;
    font-size: 1.15rem;
  }

  &__item--password {
    position: relative;

  }

  &__show-button {
    position: absolute;
    color: grey;
    top: 55%;
    right: 3%;
    background: transparent;
    border: none;
    text-decoration: underline;
    cursor: pointer;

  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    @include mobile {
      width: 100%;
    }
  }


  &__item--info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    grid-area: 3 / 1 / 5 / 2;

  }

  &__item--confirm {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: 5 / 1 / 7 / 3;



    @include mobile {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;

    }
  }

  &__item--confirm:hover {
    cursor: pointer;
  }

  &__box {
    font-family: $font-body;
    padding: 10px;
    width: 100%;
    height: 40px;
    border: 1px solid lightgray;
    font-size: 1rem;

    @include mobile {
    width: 85vw;
    
    }
    @include ipad {
      width: 85vw;
      
      }
  }


  &__box--phone {
    font-family: $font-body;
    font-size: 1rem;
    width: 60%;
    height: 40px;
    border: 1px solid lightgray;
    padding: 10px;

    @include ipad {
      width: 50vw;
    
      }

  }

  &__box--info {
    font-family: $font-body;
    font-size: 1rem;
    width: 100%;
    height: 110px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 70px;
    border: 1px solid lightgray;
    resize: none;

    @include ipad {
      width: 85vw;
      
      }
  }

  &__label {
    margin-bottom: 0.6em;
    font-size: 0.8rem;
    font-family: $font-body;
  }

  &__button {
    position: absolute;
    display: block;

    @include mobile {
      position: inherit;
      width: 85vw;

    }
    @include ipad {
      position: inherit;
      width: 50vw;
    

    }

  }

  &__button-text {
    position: absolute;
    color: white;
    font-weight: 600;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @include mobile {

      top: 50%;
      left: 50%;


    }
  }

}