.spinnerIcon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.spinnerIcon__image {
  animation: rotation 1.5s infinite linear;
  width: 5vw;
  height: auto;
}
@media screen and (max-width: 480px) {
  .spinnerIcon__image {
    width: 10vw;
    margin-bottom: 20vh;
  }
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}