//breakpoint
$breakpoint-mobile: 480px;

@import url('https://fonts.googleapis.com/css2?family=Cambay&family=Noto+Sans:wght@1200&family=Public+Sans:wght@500&display=swap');

$font-body: 'Cambay', sans-serif;
$font-header: 'Noto Sans', sans-serif;

